@media only screen and (min-width: 1000px) {
    body {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        /* flex-direction: column; */
        align-items: center;
        background-color: rgb(136, 231, 231);
        font-family: cursive;
        height: 100vh;
        box-sizing: border-box;
    }
    h1 {
        text-align: center;
        color: white;
    }
    #container-left {
        width: 40%;
        height: auto;
        background-color: rgb(5, 151, 151);
        border: 1px solid rgb(139, 139, 139);
        border-radius: 0.5rem;
        box-shadow: 1px 1px 10px gray, -1px -1px 10px gray;
    }
    #container-right {
        width: 40%;
        height: auto;
        background-color: rgb(5, 151, 151);
        border: 1px solid rgb(139, 139, 139);
        border-radius: 0.5rem;
        box-shadow: 1px 1px 10px gray, -1px -1px 10px gray;
    }
    form {
        width: 90%;
        margin: auto;
        /* border: 1px solid black; */
    }
    input {
        padding: 5px 10px;
        margin: 10px;
        margin-bottom: 0;
        width: 90%;
        /* border: 1px solid black; */
        border: 1px solid rgb(139, 139, 139);
        border-radius: 0.5rem;
        outline: none;
        font-family: cursive;
        font-size: 20px;
    }
    form div {
        /* border: 1px solid black; */
        position: relative;
    }
    form div input {
        display: inline-block;
        
    }
    form div svg {
        position: absolute;
        right: 25px;
        width: 30px;
        top: 5px;
        cursor: pointer;
    }
    small {
        margin: 10px;
        width: 90%;
        font-family: cursive;
        color: white;
    }
    input[type=submit] {
        width: 40%;
        margin: 10px auto;
        display: block;
        background-color: rgb(32, 134, 32);
        color: white;
        outline: none;
    }
    input[type=submit]:focus, input[type=submit]:hover {
        background-color: green;
    }
    input[type=submit]:hover {
        cursor: pointer;
    }
    input:focus {
        box-shadow: 5px 5px 10px gray, -5px -5px 10px gray;
    }
    #google-integration {
        background-color: blue;
        width: 90%;
        height: auto;
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
        font-size: 23px;
        color: white;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    #google-logo {
        float: left;
        width: 30px;
        height: 30px;
        background-color: white;
        position: absolute;
        left: 20px;
    }
    #alertErrorMsg {
        color: red;
        text-align: center;
        text-shadow: 1px 1px 2px white, -1px -1px 2px white;
        font-size: 25px;
    }
    .success{
        color: green;
        border: 1px solid green;
    }
}

/* small screen */

@media only screen and (max-width:1000px) {
    body {
        display: flex;
        justify-content: space-evenly;
        /* flex-wrap: wrap; */
        flex-direction: column;
        align-items: center;
        background-color: rgb(136, 231, 231);
        /* background-color: red; */
        font-family: cursive;
        /* height: 100vh; */
    }
    .container {
        margin: 20px;
        width: 70%;
    }
    h1 {
        text-align: center;
        color: white;
    }
    #container-left {
        width: 70%;
        height: auto;
        background-color: rgb(5, 151, 151);
        border: 1px solid rgb(139, 139, 139);
        border: 1px solid rgb(139, 139, 139);
        /* border: 1px solid green; */
        border-radius: 0.5rem;
        box-shadow: 1px 1px 10px gray, -1px -1px 10px gray;
    }
    #container-right {
        width: 70%;
        height: auto;
        background-color: rgb(5, 151, 151);
        /* border: 1px solid black; */
        border: 1px solid rgb(139, 139, 139);
        border-radius: 0.5rem;
        box-shadow: 1px 1px 10px gray, -1px -1px 10px gray;
    }
    form {
        width: 90%;
        margin: auto;
        /* border: 1px solid black; */
    }
    input {
        padding: 5px 10px;
        margin: 10px;
        margin-bottom: 0;
        width: 90%;
        border: 1px solid black;
        border-radius: 0.5rem;
        outline: none;
        font-family: cursive;
        font-size: 20px;
    }
    small {
        margin: 10px;
        width: 90%;
        font-family: cursive;
        color: white;
    }
    input[type=submit] {
        width: 40%;
        margin: 10px auto;
        display: block;
        background-color: rgb(32, 134, 32);
        color: white;
        outline: none;
    }
    input[type=submit]:focus, input[type=submit]:hover {
        background-color: green;
    }
    input[type=submit]:hover {
        cursor: pointer;
    }
    input:focus {
        box-shadow: 5px 5px 10px gray, -5px -5px 10px gray;
    }
    #google-integration {
        background-color: blue;
        width: 90%;
        height: auto;
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
        font-size: 23px;
        color: white;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    #google-logo {
        float: left;
        width: 30px;
        height: 30px;
        background-color: white;
        position: absolute;
        left: 20px;
    }
    #alertErrorMsg {
        color: red;
        text-align: center;
    }
    form div {
        /* border: 1px solid black; */
        position: relative;
    }
    form div input {
        display: inline-block;
        
    }
    form div svg {
        position: absolute;
        right: 25px;
        width: 30px;
        top: 5px;
        cursor: pointer;
    }
    .success{
        color: green;
        border: 1px solid green;
    }
}