{% extends "dashboardbase.html" %}
{% block activeanalytics %} active {% endblock %}
{% block dashboarditems %}

<div class="container border my-4" style="width: 605px;height: 205px;position: relative;padding:0;">
    {% for r in result %}
<div class="point" style="cursor:pointer;bottom:{{r[2]}}px;left:{{r[1]}}px;position: absolute;background-color:red;width:5px;height:5px;border-radius:50%;"></div>
{% endfor %}


</div>
<div class="container mt-3 text-center" style="width: 600px">
    This is the graph of your speed vs accuracy accoding the typing tests you have appeared.
</div>


{% endblock %}