{% extends "base.html" %}
{% block activetest %} active {% endblock %}
{% block body %}
<div id="copy-paste-alert"></div>
<div id="caps-lock-on-alert"></div>
<div class="container-fluid my-4">
    <div class="row my-2">
        <div class="col text-center">
            <h4>WPM <span class="badge badge-success" id="wpm"></span></h4>
        </div>
        <div class="col text-center">
            <h4>Accuracy <span class="badge badge-danger" id="accuracy"></span></h4>
        </div>
        <div class="col text-center">
            <button class="btn btn-primary" id='btn-restart'>
                <svg class="bi bi-arrow-clockwise" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3.17 6.706a5 5 0 017.103-3.16.5.5 0 10.454-.892A6 6 0 1013.455 5.5a.5.5 0 00-.91.417 5 5 0 11-9.375.789z"
                        clip-rule="evenodd"></path>
                    <path fill-rule="evenodd"
                        d="M8.147.146a.5.5 0 01.707 0l2.5 2.5a.5.5 0 010 .708l-2.5 2.5a.5.5 0 11-.707-.708L10.293 3 8.147.854a.5.5 0 010-.708z"
                        clip-rule="evenodd"></path>
                </svg>
                Restart
            </button>
        </div>
    </div>
    <div style="min-width: 400px;">
        <div class="container-fluid my-2 border text-justify rounded p-3" id="giventext"
            style="font-size: 30px; min-height: 80px;">{{practiceText}}</div>
        <form action="/testresult" method="POST" id='myForm'>
            <input type="number" name="exerciseId" id="exerciseId" value="{{lesson}}" style="display: none;">
            <input type="text" name="wpm" id="wpminput" style="display: none;">
            <input type="number" name="typo" id="typoinput" style="display: none;">
            <input type="number" name="accuracy" id="accuracyinput" style="display: none;">
            <input type="text" name="weakkeys" id="weakkeys" style="display: none;">
            <input type="text" name="" id="inputfield" class="text-center"
                style="width:100%;padding: 30px;font-size: 30px;" spellcheck="false" autocomplete="off">
        </form>
    </div>

</div>


<script src="{{url_for('static', filename='js/speedmeter.js')}}"></script>
{% endblock %}